$lgw: 1240px;
$mdw: 1000px;
$sdw: 600px;
$i5:320px;
// $smw: $lgw + 20; 
$breakpoints: ( 'md': 'screen and (max-width: #{$lgw})', 'sm': 'screen and (max-width: #{$mdw})', 'ssm': 'screen and (max-width: #{$sdw})', 'i5': 'screen and (max-width: #{$i5})', );
@import "mixins";
@import "reset";
@import "footer";
@import "ui";
// 淺中邊框
//$colorbr1l:#66e8f5 3px solid;
//-------footer-------
.wrapper{
	position: relative;
	overflow:hidden;
    box-sizing: border-box;
	&-i{
		flex-direction: column;
	    display: flex;
		position: relative;
	}
}

.wrapper-topbar{
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999999;
}
.wrapper-nav{
	overflow: hidden;
	box-sizing:border-box;
}
//-------footer-------

html,body{
	height: 100%;
}

body{
	font:18px/1.6 $fontyh;
//	background: #111111;
	
}
.center{
    @include inner;
}

.demo{
 @include dc;
}