$lgw: 1240px;
$mdw: 1000px;
$sdw: 600px;
$i5:320px;
// $smw: $lgw + 20; 
$breakpoints: ( 'md': 'screen and (max-width: #{$lgw})', 'sm': 'screen and (max-width: #{$mdw})', 'ssm': 'screen and (max-width: #{$sdw})', 'i5': 'screen and (max-width: #{$i5})', );
@import "mixins";
@import "reset";
//@import "footer";
//@import "ui";
// 淺中邊框
//$colorbr1l:#66e8f5 3px solid;

//-------footer-------
.bar{
        
    padding-top: 10px;padding-bottom: 20px;    font-size: 0.7em;
}
.footer{
      text-align: right;
    padding-top: 10px;padding-bottom: 20px;    font-size: 0.7em;
}
html,
body {
    height: 100%;
}

body {
    font-family: 'Noto Sans TC', 'Microsoft JhengHei', 'ms mincho';
    color: #444;
    //	font-size: 1.6em;
}

img {
    width: 100%;
}

h2 {
    font-weight: 900;
    font-size: 3em;
    letter-spacing: 6px;
    text-align: center;
}

p {
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 26px;
}


    hr {
        width: 70%;
    margin-top: 0px;
   margin-bottom: 60px; 


}
.center {
    @include inner($t: 3%, $b: 3%, $w: 1600px);
    width: 94%;
}

.demo {
    @include dc;
}

.box {
    display: flex;
    overflow: hidden;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-color: #fff;
    box-shadow: 0 0 20px 7px #f1f1f1;
    -webkit-transition: margin 250ms cubic-bezier(.25, .46, .45, .94), border .4s cubic-bezier(.55, .085, .68, .53);
    transition: margin 250ms cubic-bezier(.25, .46, .45, .94), border .4s cubic-bezier(.55, .085, .68, .53);
    text-decoration: none;
    h2 {
        padding: 60px 0;
    }
    .more {
        padding: 120px 10px;
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        p {
            padding-bottom: 30px;
        }
    }
    .row>div {
        padding: 15px;    min-height: 170px;
    }
}

@include respond-to(md) {
    p{
    font-size: 1.1em;
    line-height: 24px
    }
    h2{
        font-size: 2em;
    }
    hr{
            margin-top: 20px;
    margin-bottom: 20px;
    }
    .box {
        .more {
            padding: 20px 15px;
        }
        h2{
             padding: 20px 0; 
        }
    }
}