@import "mixins";
.footer {
	z-index: 3;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-image: url(../img/footer-l.png);
  width: 98%;
  height: 1.3rem;
  position: relative;
  padding-top: .5rem;
 margin: 0 auto;
  @include respond-to(ssm) {
    padding-top: 0;
    background-image: url(../img/footer-m.png);
    background-size: 100%;
    width: 100%;
    height: 4rem;
  }
  @include respond-to(sm) {
	background-size: 140%;
  height:6rem;
  
  }
}
