@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700&display=swap");
/* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess*/

/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/

h2 {
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 20px;
  color: #c49250;
  @include respond-to(md) {
    padding-bottom: 4%;
    font-size: 1.8rem;
  }
  span {
    margin-left: 190px;
    font-size: 1.42rem;
    color: #dcdcdc;
    @include respond-to(md) {
      margin-left: 125px;
    }
  }
  &.style1 {
    display: flex;
    align-items: center;
    &::after {
      position: absolute;
      width: 165px;
      height: 6px;
      content: " ";
      margin-left: 140px;
      background-repeat: no-repeat;
      background-image: url(../img/line-1.png);
      @include respond-to(md) {
        width: 100px;
        margin-left: 130px;
      }
    }
  }
  &.style2 {
      span{
          margin-left: 10px;
      }
    display: flex;
    align-items: center;
    &::before {
        position: relative;
        width: 165px;
        height: 6px;
      width: 165px;
      height: 6px;
      content: " ";
      margin-right: 15px;
      background-repeat: no-repeat;
      background-image: url(../img/line-1.png);
    }
    &::after {
      position: absolute;
      width: 165px;
      height: 6px;
      content: " ";
      margin-left: 360px;
      background-repeat: no-repeat;
      background-image: url(../img/line-1.png);
      @include respond-to(md) {
        width: 100px;
        margin-left: 130px;
      }
    }
  }
}
h3{
    font-weight: 500;
    font-size: 1.6rem;
    color: #baac97; 
}
p,
ol > li {
  font-weight: 300;
  color: #3f3634;
  font-size: 1rem;
  line-height: 1.6rem;
}
ol {
  line-height: 0;
  margin: 0;
  li {
    padding-bottom: 5px;
  }
}
