$lgw: 1200px;
$mdw: 1000px;
$sdw: 767.98px;
$i4: 500px;
$i3: 320px;
$smw: $lgw + 20;
$breakpoints: (
  "lg": "screen and (max-width: #{$lgw})",
  "md": "screen and (max-width: #{$mdw})",
  "ssm": "screen and (max-width: #{$sdw})",
  "sm": "screen and (max-width: #{$i4})"
);
$baseFSoffset: 100;
@mixin respond-to($name) {
    @media #{map-get($breakpoints, $name)} {
        @content;
    }
}

@mixin amid($t:0,$l:0,$b:0,$r:0){
  margin: auto;
  top: $t;
  left: $l;
  bottom: $b;
  right: $r;
  }
  